<!DOCTYPE html>
<html>
  <head>
    <title>get car</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <label for="name">Car's name</label></br>
    <textarea name="name" id="name" cols="15" rows="1"></textarea></br>
    
    <label for="type">Type</label></br>
    <textarea name="type" id="type" cols="15" rows="1"></textarea></br>
   
    <label for="year">Year</label></br>
    <textarea name="year" id="year" cols="15" rows="1"></textarea></br>
    
    <button type="submit" style = "margin-top: 10px;">Get Car</button>
    <p>
      
    </p>
  </body>
</html>
